<a href="https://colab.research.google.com/github/SalipelaSwapna123/1-05-23/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# let us know string concatination and repeatation symbols
# + "concatination" and * repeatation symbols
print("Swapna " + "Salipela")
print("Swapna " * 3)

Swapna Salipela
Swapna Swapna Swapna

In [8]:
# pattern1:
# rows=5
rows=int(input("Enter no.of rows :"))
for i in range(1,rows+1):
  print("*" * rows)

Enter no.of rows :6
******
******
******
******
******
******

In [10]:
# pattern2:
# rows=5
row=int(input("Enter no of rows: "))
for i in range(1,row+1):
  print("*" * i)

Enter no of rows: 4
*
**
***
****

In [13]:
# pattern3:
row1=int(input("Enter no of rows: "))
spaces=row1-1
for i in range(1,row1+1):
  print(" " * spaces + "*" * i  )
  spaces -=1

Enter no of rows: 5
    *
   **
  ***
 ****
*****

In [15]:
# pattern4:
row2=int(input("Enter no of rows: "))
spaces2=row2-1
for i in range(1,row2+1):
  print(" " * spaces2 + "*" * (2*i-1))
  spaces2-=1

Enter no of rows: 6
     *
    ***
   *****
  *******
 *********
***********

In [20]:
# pattern5:
rows3=int(input("Enter no of rows: "))
spaces3=0
for i in range(rows3 ,0,-1):
  print(" "* spaces3 + "*" * i)
  spaces3 +=1

Enter no of rows: 6
******
 *****
  ****
   ***
    **
     *