<a href="https://colab.research.google.com/github/SalipelaSwapna123/patternsinpython/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# let us know string concatination and repeatation symbols
# + "concatination" and * repeatation symbols
print("Swapna " + "Salipela")
print("Swapna " * 3)

Swapna Salipela
Swapna Swapna Swapna

In [ ]:
# pattern1:
# rows=5
rows=int(input("Enter no.of rows :"))
for i in range(1,rows+1):
  print("*" * rows)

Enter no.of rows :6
******
******
******
******
******
******

In [ ]:
# pattern2:
# rows=5
row=int(input("Enter no of rows: "))
for i in range(1,row+1):
  print("*" * i)

Enter no of rows: 4
*
**
***
****

In [ ]:
# pattern3:
row1=int(input("Enter no of rows: "))
spaces=row1-1
for i in range(1,row1+1):
  print(" " * spaces + "*" * i  )
  spaces -=1

Enter no of rows: 5
    *
   **
  ***
 ****
*****

In [ ]:
# pattern4:
row2=int(input("Enter no of rows: "))
spaces2=row2-1
for i in range(1,row2+1):
  print(" " * spaces2 + "*" * (2*i-1))
  spaces2-=1

Enter no of rows: 6
     *
    ***
   *****
  *******
 *********
***********

In [4]:
# pattern5:
rows4=int(input("Enter a number"))
spaces4=0
for i in range(rows4,0,-1):
  print(" " * spaces4 + "*" * (2*i-1) )
  spaces4 += 1

Enter a number6
***********
 *********
  *******
   *****
    ***
     *

In [8]:
# pattern6:
rows6=int(input("Enter a number : "))
spaces6=rows6-1
for i in range(1,rows6+1):
   print(" " * spaces6 + "*" * (2*i-1) )
   spaces6 -=1
# print(spaces6)
spaces6  += 2
for j in range(rows6-1,0,-1):
   print(" " * spaces6 + "*" * (2*j-1) )
   spaces6+=1

Enter a number : 6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [14]:
# pattern7
rows7 = int(input("Enter a number :"))
spaces7 = 0
for i in range(rows7,0,-1):
  print(" " * spaces7 + "*" * (2*i-1))
  spaces7 +=1
# print(spaces7)
spaces7 -=2
for j in range(2,rows7+1):
  print(" " * spaces7 + "*" * (2*j-1))
  spaces7 -=1

Enter a number :7
*************
 ***********
  *********
   *******
    *****
     ***
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [22]:
# pattern8
rows8 = int(input("Enter a number :"))
spaces8 =rows8-1
for i in range(1,rows8+1):
  print("*" * i + " " * spaces8)
  spaces8 -=1
# print(spaces8)
spaces8 +=2
for j in range(rows8,0,-1):
  print("*" * j + " " * spaces8)
  spaces8 +=1

Enter a number :6
*
**
***
****
*****
******
******
*****
****
***
**
*

In [30]:
# pattern9
rows9 = int(input("Enter a number :"))
spaces9 =rows9-1
for i in range(1,rows9+1):
  print(" " * spaces9 + "*" * i )
  spaces9 -=1
# print(spaces9)

spaces9 +=2
for j in range(rows9-1,0,-1):
  print( " " * spaces9+"*" * j )
  spaces9 +=1

Enter a number :7
      *
     **
    ***
   ****
  *****
 ******
*******
 ******
  *****
   ****
    ***
     **
      *

In [37]:
# pattern10
rows10 = int(input("Enter a number :"))

for i in range(1,rows10+1):
  print("*" * i + " " * (2*(rows10-i)) +"*" * i)
  spaces10 -=1
# spaces10 -=1
for j in range(rows10-1,0,-1):
  print("*" * j + " " * (2*(rows10-j)) +"*" * j)
  spaces10 -=1

Enter a number :6
*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
# pattern11:
rows11=int(input("Enter a num :"))
spaces11=0
for i in range(rows11,0,)